# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Terraform
# =========================
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars

# =========================
# Kubernetes
# =========================
*.kubeconfig

# =========================
# Docker
# =========================
docker-data/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Build
# =========================
dist/
build/